Configure
set service lldp interface all
set interfaces ethernet eth0 address 172.26.13.101/24
set interface ethernet eth0 description Internet-facing
set interface ethernet eth1 description Lab-Trunk
set protocols static route 0.0.0.0/0 next-hop 172.26.13.1
commit
save

set service ssh port 22
set system host-name Vyos01

set interfaces ethernet eth0 mtu '9000'
set interfaces ethernet eth1 mtu '9000'
#Lab 01

set interfaces ethernet eth1 vif 2710 address '172.27.10.1/24'
set interfaces ethernet eth1 vif 2710 description 'VLAN 2710 for vSAN'
set interfaces ethernet eth1 vif 2710 mtu '9000'
set interfaces ethernet eth1 vif 2711 address '172.27.11.1/24'
set interfaces ethernet eth1 vif 2711 description 'VLAN 2711 for MGMT'
set interfaces ethernet eth1 vif 2711 mtu '9000'
set interfaces ethernet eth1 vif 2712 address '172.27.12.1/24'
set interfaces ethernet eth1 vif 2712 description 'VLAN 2712 for vMotion'
set interfaces ethernet eth1 vif 2712 mtu '9000'
set interfaces ethernet eth1 vif 2713 address '172.27.13.1/24'
set interfaces ethernet eth1 vif 2713 description 'VLAN 2713 for VM'
set interfaces ethernet eth1 vif 2713 mtu '9000'
set interfaces ethernet eth1 vif 2714 address '172.27.14.1/24'
set interfaces ethernet eth1 vif 2714 description 'VLAN 2714 for VTEPs'
set interfaces ethernet eth1 vif 2714 mtu '9000'
set interfaces ethernet eth1 vif 2715 address '172.27.15.1/24'
set interfaces ethernet eth1 vif 2715 description 'VLAN 2715 for EDGE MGT'
set interfaces ethernet eth1 vif 2715 mtu '9000'
set interfaces ethernet eth1 vif 2716 address '172.27.16.1/24'
set interfaces ethernet eth1 vif 2716 description 'VLAN 2716 for EDGE UPLINK'
set interfaces ethernet eth1 vif 2716 mtu '9000'

#Lab 02


set interfaces ethernet eth1 vif 2810 address '172.28.10.1/24'
set interfaces ethernet eth1 vif 2810 description 'VLAN 2810 for vSAN'
set interfaces ethernet eth1 vif 2810 mtu '9000'
set interfaces ethernet eth1 vif 2811 address '172.28.11.1/24'
set interfaces ethernet eth1 vif 2811 description 'VLAN 2811 for MGMT'
set interfaces ethernet eth1 vif 2811 mtu '9000'
set interfaces ethernet eth1 vif 2812 address '172.28.12.1/24'
set interfaces ethernet eth1 vif 2812 description 'VLAN 2812 for vMotion'
set interfaces ethernet eth1 vif 2812 mtu '9000'
set interfaces ethernet eth1 vif 2813 address '172.28.13.1/24'
set interfaces ethernet eth1 vif 2813 description 'VLAN 2813 for VM'
set interfaces ethernet eth1 vif 2813 mtu '9000'
set interfaces ethernet eth1 vif 2814 address '172.28.14.1/24'
set interfaces ethernet eth1 vif 2814 description 'VLAN 2814 for VTEPs'
set interfaces ethernet eth1 vif 2814 mtu '9000'
set interfaces ethernet eth1 vif 2815 address '172.28.15.1/24'
set interfaces ethernet eth1 vif 2815 description 'VLAN 2815 for EDGE MGT'
set interfaces ethernet eth1 vif 2815 mtu '9000'
set interfaces ethernet eth1 vif 2816 address '172.28.16.1/24'
set interfaces ethernet eth1 vif 2816 description 'VLAN 2816 for EDGE UPLINK'
set interfaces ethernet eth1 vif 2816 mtu '9000'
commit
save

#Routing Configuration

set protocols bfd peer '172.27.16.10'
set protocols bfd peer '172.28.16.10'

set protocols bgp 65010 address-family ipv4-unicast redistribute connected
set protocols bgp 65010 parameters router-id 172.26.13.101

# CCR2004 LAN Router
set protocols bgp 65010 neighbor 172.26.13.1 remote-as '65020'
set protocols bgp 65010 neighbor 172.26.13.1 capability dynamic

# Nested NSX-T Lab01
set protocols bgp 65010 neighbor 172.27.16.10 remote-as '65100'
set protocols bgp 65010 neighbor 172.27.16.10 bfd
set protocols bgp 65010 neighbor 172.27.16.10 address-family ipv4-unicast default-originate
set protocols bgp 65010 neighbor 172.27.16.10 capability dynamic

# Nested NSX-T Lab02
set protocols bgp 65010 neighbor 172.28.16.10 remote-as '65200'
set protocols bgp 65010 neighbor 172.28.16.10 bfd
set protocols bgp 65010 neighbor 172.28.16.10 address-family ipv4-unicast default-originate
set protocols bgp 65010 neighbor 172.28.16.10 capability dynamic

Commit
Save
